@import "tailwindcss";

body {
  background-color: #0b0f19;
  color: #f8fafc;
}

/* === FIX DEFINITIVO PARA SELECTS EN DARK MODE === */

select.dark-select {
  color-scheme: dark;
  background-color: #111827; /* similar a bg-surface oscuro */
  color: #f8fafc;
}

select.dark-select option {
  background-color: #111827;
  color: #f8fafc;
}